
@{
    ViewData["Title"] = "Confirmation";
}

<h1 class="text-success">Reservation Confirmed</h1>
<p class="text-primary">Please wait a few days for a staff member to contact you about your reservation.</p>

